#=====================================
#= ANSIBLE_PUSHED_CONFIGURATION_FILE =
#=====================================
#
#====================
#= Path             =
#====================
#
#-----------------------
#- /var/lib/pgsql/data -
#-----------------------

#pgsql settings
max_connections = {{ max_connections }}
shared_buffers = {{ shared_buffers }}
effective_cache_size = {{ effective_cache_size }}
maintenance_work_mem = {{ maintenance_work_mem }}
checkpoint_completion_target = {{ checkpoint_completion_target }}
wal_buffers = {{ wal_buffers }}
default_statistics_target = {{ default_statistics_target }}
random_page_cost = {{ random_page_cost }}
effective_io_concurrency = {{ effective_io_concurrency }}
work_mem = {{ work_mem }}
min_wal_size = {{ min_wal_size }}
max_wal_size = {{ max_wal_size }}

#additional settings
listen_addresses = {{ listen_addresses }}
port = {{ pgsqlport }}
fsync = {{ fsync_mode }}

#password_encryption = {{ password_encryption }}
